body { 
    background-image: linear-gradient(270deg, #000000d8 0, #000000e3 25%, #000000e8 50%, #000000f3 75%, #000000 100%);
    /* background-color: #212529; */
   color: white;
}

.button:hover{
   background-color: rgba(212, 162, 23, 0.849);
   color: black;
   border-color:rgba(212, 162, 23, 0.849); 
}

.subtitle{
   font-family: 'Train One', cursive; 
   font-size:3.5vh;
   color: rgba(212, 162, 23, 0.849); 
}

.subtitle1{
    font-family: 'Train One', cursive; 
    font-size:3.2vh;
    color: rgba(255, 255, 255, 0.849); 
 }

.subtitle2{
    font-size:2.7vh;
    color: rgba(212, 162, 23, 0.849); 
 }

.paragraph{
   /* font-family: 'cursive'; */
   font-size: 2.8vh;
}

table{
    color: white;
}

